<p>Hello <%= @resource.email %>,</p>

<p>You can reset your password by clicking the link below:</p>

<p>
  <a href="<%= "#{ENV.fetch('FRONTEND_URL', 'https://localhost:5173')}/reset?token=#{@token}" %>">
    Reset your password
  </a>
</p>

<p>If you did not request this, please ignore.</p>
<p><%= "#{ENV.fetch('FRONTEND_URL', 'https://localhost:5173')}/reset?token=#{@token}" %></p>

